#icon-container {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 5%;
    right: 0;
    width: auto;
    padding-right: 5%;
}

#icon-container button {
    background-color: transparent; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 90px;
    border: none;
    margin-left: 1.2rem;
    padding: 0;
    box-shadow: none; 
}

#encuesta, #home, #about-us, #logout {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

#home {
    background-image: url(../../../assets/home.png);
}

#about-us {
    background-image: url(../../../assets/about-us.png);
}

#encuesta {
    background-image: url(../../../assets/encuesta.png);
}

#logout {
    background-image: url(../../../assets/logout.png);
}
