<meta charset="utf-8" />
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Jersey+10+Charted&family=Jersey+15&family=Jersey+20+Charted&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col text-center">
          <h1 class="text-primary" id="titulo">Ahorcado</h1>
        </div>
      </div>
            
      <div *ngIf="!gano && !perdio">
        <div class="col text-center">
          <img [src]="imagenAhorcado" alt="Imagen del ahorcado">
        </div>
      </div>

      <div *ngIf="!gano && !perdio">
        <div id="palabra-oculta">
          <h1>{{palabraOculta}}</h1>
        </div>
      </div>
      
      <div class="row" *ngIf="!gano && !perdio" >
        <div class="col text-center" id="teclado">
          <button
            (click)="comprobar(letra)"
            *ngFor="let letra of letras"
            class="btn-teclado"
            [ngClass]="{'letra-presionada': presionadas.has(letra)}">
            {{letra.toUpperCase()}}
          </button>
        </div>
      </div>
      
      <div class="row" *ngIf="gano" id="gano" [ngClass]="{ 'show-results': resultados }">
        <div class="col text-center">
          <h1>Ganaste! 🤗</h1>
          <div class="container">
            <button type="submit" (click)="goTo('home')">Ir a home</button>
            <span>|</span>
            <button type="submit" (click)="goTo()">Volver a jugar</button>
            <span *ngIf=" !resultados">|</span>
            <button *ngIf=" !resultados" type="submit" (click)="verResultados()">Ver resultados</button>
          </div>
          <app-resultados *ngIf="resultados" [juego]="'Ahorcado'"></app-resultados>
        </div>
      </div>
      
      <div class="row" *ngIf="perdio" id="perdio" [ngClass]="{ 'show-results': resultados }">
        <div class="col text-center">
          <h1>Perdiste 💔</h1>
          <div class="container">
            <button type="submit" (click)="goTo('home')">Ir a home</button>
            <span>|</span>
            <button type="submit" (click)="reiniciar()">Volver a jugar</button>
            <span *ngIf=" !resultados">|</span>
            <button *ngIf=" !resultados" type="submit" (click)="verResultados()">Ver resultados</button>
          </div>
          <app-resultados *ngIf="resultados" [juego]="'Ahorcado'"></app-resultados>
        </div>
      </div>
        
      <app-resultados [juego]="'Ahorcado'"></app-resultados>

      <div class="row" id="intentos" *ngIf="!gano && !perdio">
        <div class="col text-center">
          <h3>Intentos: <small>{{intentosFallidos}}</small></h3>
        </div>
      </div>
      
      <app-navbar></app-navbar> 
      <app-chat></app-chat>
</body>
